QLabel#plotBackground {
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #B0B0B0;
    border-radius: 4px;
}

QStatusBar QLabel {
    color: black;
    font-weight: normal;
}

QTreeView::item:hover {
    background-color: #dddddd;
}


/*mpl background behind figure*/
#livePlotCanvas {
    background-color: #fafafa;
}

/* mpl tool widget */
#livePlotToolBar {
    background-color: transparent;
}
QToolButton{
    background-color: #fafafa;
    border: 1px solid #999999;
    padding: 1px;
    border-radius: 4px;
}
QToolButton:hover {
    background-color: #dddddd;
    border-radius: 4px;
}
QToolButton:pressed {
    background-color: #999999;
}
QToolButton:checked {
    background-color: #888888;
}
QToolBar::separator {
    background-color: #dddddd;
    width: 1px;
    margin: 4px;
}

QToolBar QLabel {
    color: #000000;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}


/* buttons that only show like a button on hover */
QToolButton[class="hoverFlat"] {
    background: transparent;
    border: none;
    color: black;
}
QToolButton[class="hoverFlat"]:hover {
    background-color: #dddddd;
    border: 1px solid #999999;
    border-radius: 4px;
}




QGroupBox {
    margin-top: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-top: 5px;  /* space above the widgets, under the title */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 6px;
    background-color: #f0f0f0;  /* optional: highlight title */
}


